/* ---- files ---- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ---- google font ---- */
/* ---- color ---- */
/* ---- font ---- */
/* ---- others ---- */
/* ---- breakpoint ---- */
/* ---- @mixin ---- */
/* ---- extend ---- */
.btn-add::before, .btn-add::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---- common ---- */
/* ---- base ---- */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2;
  background-image: linear-gradient(to right bottom, #efb4c2, #eeb3c6, #ecb3c9, #eab2cd, #e7b2d1, #e2acd1, #dca6d1, #d6a1d1, #ca94ce, #bd89cb, #af7dc9, #9e73c8);
  color: #868686;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  border: none;
  padding: 0;
}

input:focus {
  outline: none;
}

/* ---- main-style ---- */
#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 80px 0px;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.wrap {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 3px 3px 7px -2px rgba(140, 140, 140, 0.75);
  position: relative;
}

.btn-add {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: #ffba74;
  border-radius: 50%;
  border: none;
  padding: 0;
  box-shadow: 0px 3px 7px -2px rgba(140, 140, 140, 0.75);
  transition: background-color 0.2s;
}
.btn-add:hover {
  background-color: #ff8f1f;
}
.btn-add::before, .btn-add::after {
  content: "";
  background-color: #ffffff;
  border-radius: 4px;
}
.btn-add::before {
  width: 18px;
  height: 4px;
}
.btn-add::after {
  width: 4px;
  height: 18px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.window {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 80%;
  max-width: 500px;
  padding: 50px 40px;
  background-color: #fff;
  border-radius: 8px;
}
.window__content {
  display: flex;
  width: 100%;
}
.window__content--warning::before, .window__content--warning::after {
  display: block;
  -webkit-animation: tooltips-vert 300ms ease-out forwards;
  animation: tooltips-vert 300ms ease-out forwards;
}
.window__inputbox {
  width: auto;
  flex: 1;
  min-width: 0;
  padding-right: 20px;
  margin: 10px 0;
  font-size: 1.7rem;
  color: #868686;
}
.window__inputbox::-webkit-input-placeholder {
  color: #c4c4c4;
}
.window__inputbox::-moz-placeholder {
  color: #c4c4c4;
}
.window__inputbox:-ms-input-placeholder {
  color: #c4c4c4;
}
.window__inputbox::-ms-input-placeholder {
  color: #c4c4c4;
}
.window__inputbox::placeholder {
  color: #c4c4c4;
}
.window__btn-send {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-color: #b585c7;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.window__btn-send:hover {
  background-color: #9b70c8;
}
.window__btn-cancel {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 1.6rem;
  text-align: center;
  background-color: #ffba74;
  color: #ffffff;
  transition: background-color 0.2s;
}
.window__btn-cancel:hover {
  background-color: #ff8f1f;
}

.menu-list {
  display: flex;
}
.menu-list__item {
  flex: 1;
  overflow: hidden;
}
.menu-list__item:first-child {
  border-radius: 8px 0px 0px 8px;
}
.menu-list__item:last-child {
  border-radius: 0px 8px 8px 0px;
  border-left: 2px solid #f0f0f0;
}
.menu-list__btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 3rem;
  color: #c6c6c6;
  transition: color 0.2s;
  background-color: #fafafa;
  border-bottom: 2px solid #f0f0f0;
}
.menu-list__btn--current {
  background-color: #ffffff;
  color: #9b70c8;
  border-bottom: none;
}
.menu-list__btn:hover {
  color: #ff8f1f;
}

.todo-list {
  padding: 40px 30px;
}
.todo-list__hint {
  color: #868686;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 760px) {
  .todo-list__item {
    transform: translateY(0);
    transition: transform 0.2s;
  }
  .todo-list__item:hover {
    transform: translateY(-3px);
  }
}

.content-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.content-group__input {
  color: #868686;
  font-weight: 500;
  border: none;
  padding: 20px 0 20px 5px;
  margin-right: auto;
  font-size: 1.8rem;
  min-width: 0;
}
.content-group__input:focus {
  outline: none;
}
.content-group__checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: solid 3px #e9e9e9;
  border-radius: 11px;
  margin-right: 15px;
  position: relative;
}
.content-group__checkbox:checked:before {
  content: "";
  width: 11px;
  height: 4px;
  background-color: #b585c7;
  position: absolute;
  top: 8px;
  left: 3px;
  transform: rotate(45deg);
  border-radius: 4px 0px 4px 4px;
}
.content-group__checkbox:checked:after {
  content: "";
  width: 26px;
  height: 4px;
  background-color: #b585c7;
  position: absolute;
  top: 3px;
  right: -8px;
  transform: rotate(-45deg);
  border-radius: 0px 4px 4px 4px;
}
.content-group__checkbox:checked + label {
  position: relative;
  color: #c4c4c4;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.content-group__label {
  margin-right: auto;
  padding-right: 1em;
  max-width: 270px;
}
.content-group__btn {
  color: #9b70c8;
  font-size: 1.8rem;
  margin: 0 10px;
  transition: color 0.2s;
  flex-shrink: 0;
}
.content-group__btn:hover {
  color: #ff8f1f;
}
.content-group--warning::before, .content-group--warning::after {
  display: block;
  -webkit-animation: tooltips-vert 300ms ease-out forwards;
  animation: tooltips-vert 300ms ease-out forwards;
}

/* ---- tooltips ---- */
[tooltip] {
  position: relative;
}
[tooltip]::before, [tooltip]::after {
  position: absolute;
  opacity: 0;
  font-size: 0.9em;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
[tooltip]::before {
  content: "";
  bottom: 100%;
  border: 5px solid transparent;
  border-bottom-width: 0;
  border-top-color: #555;
  z-index: 1001;
}
[tooltip]::after {
  bottom: calc(100% + 5px);
  min-width: 3em;
  max-width: 21em;
  padding: 8px 12px;
  content: attr(tooltip);
  background-color: #555;
  color: #fff;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 4px;
  z-index: 1002;
}
[tooltip]::before, [tooltip]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

@-webkit-keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/*# sourceMappingURL=style.css.map */
